# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env*

# temp files
audio-trimmer-server/temp/frames_*
audio-trimmer-server/temp/video_*.mp4
audio-trimmer-server/temp/audio_*.mp3

# logs and data
audio-trimmer-server/logs/
*.log

# typescript
*.tsbuildinfo
